#maincontent {
	background-color:lightgray;
	border-bottom: solid black 9pt;
	border-left: solid black 9pt;
	border-right: solid black 9pt;
	border-bottom-left-radius: 10pt;
	border-bottom-right-radius: 10pt;
}
body {
	background-color:grey;
	font-size: 18pt;
}
#linksbar {
	background-color:lightblue;
	margin-left:auto;
	margin-right:auto;
	width:80%;
	border: solid black 9pt;
	border-radius: 10pt;
}
#maincontent,#linksbar {
	padding: 10pt;
}
ol,#maincontent{
	margin-left:auto;
	margin-right:auto;
	width:50%;
}
h1,ol {
	text-align:center;
	}
ol li {
	display:inline;
	list-style-type:circle;
	margin:5pt;
	font-size:14pt;
}